body, main {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid;  */
}

article, section, aside {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  /* border: 1px solid;  */
}

#section_left {
  display: flex;
  flex-wrap: wrap;
}


.closed {
  display: none;
}


/* This is to dispaly or close the Modal */
.opened {
  display: block;
}